@media only screen and(min-width:200px) and(max-width:575px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    padding: 10px;
  }
  .headerLeft {
    justify-content: center;
  }
  .logo {
    padding: 10px;
  }
  .headerAddress {
    padding: 10px;
  }
  .headerAddress p {
    font-size: 12px;
  }
  .headerAddress h3 {
    font-size: 12px;
  }
  .searchBox button {
    padding: 10px;
  }
  .headerBtn {
    position: fixed;
    background-color: white;
    justify-content: center;
    width: 100%;
    margin-right: 0px;
    bottom: 0px;
  }
  .bannerSection {
    display: none;
  }

  .orderBanner {
    flex-direction: column;
    padding: 10px;
  }
  .categoryItems {
    flex-basis: 25%;
  }
  .productRow {
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 0 10px;
    display: flex;
  }
  .productItems {
    flex-basis: 15%;
    border: 1px solid #ccc;
  }
  .productItems {
    flex-basis: 49%;
  }
  .productSection {
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
  }
  .footer {
    padding-top: 0px;
  }
  .footer-mid-row1 {
    flex-direction: column;
    padding: 10px;
  }
}
