* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  gap: 40px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.logo {
  padding: 24px 30px;
  border-right: 1px solid #ccc;
}
.headerAddress {
  padding: 20px 30px;
}
.headerAddress h3 {
  font-size: 18px;
  margin-bottom: 2px;
}
.headerAddress p {
  font-size: 14px;
}
.searchBox {
  flex-grow: 1;
  background-color: #f8f8f8;
  display: flex;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
}
.searchBox button {
  padding: 15px;
  border: none;
  background-color: transparent;
}
.searchBox input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
.searchBox input:focus {
  outline: none;
}
.headerBtn {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}
.headerBtn button {
  font-size: 14px;
  padding: 15px;
  background-color: none;
  border: none;
}
.headerBtn button:last-child {
  color: white;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(21, 131, 31);
}
.bannerSection {
  max-width: 1280px;
  margin: auto;
}
.bannerSection img {
  width: 100%;
}
.orderBanner {
  display: flex;
  max-width: 1280px;
  margin: auto;
}
.orderBannerItem {
  flex-basis: 27%;
  margin: 1%;
}
.orderBannerItem img {
  width: 100%;
}
.categorySection {
  max-width: 1280px;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
}
.categoryItems {
  flex-basis: 10%;
}
.categoryItems img {
  width: 100%;
}
.headingRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headingRow a {
  color: #328839;
  font-size: 17px;
}
.headingRow h2 {
  font-size: 22px;
}
.productRow {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  gap: 2%;
}
.productItems {
  flex-basis: 15%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #ccc;
}
.productImage {
  text-align: center;
  padding: 15px;
}
.productImage p {
  background-color: #f8f8f8;
  display: flex;
  width: 60px;
  gap: 5px;
  justify-content: center;
  padding: 2px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}
.productContent {
  padding: 15px;
  padding-top: 0px;
}
.productContent h3 {
  margin-bottom: 15px;
  font-size: 14px;
}
.productContent p {
  font-size: 14px;
  color: #848080;
}
.btn-price-outer {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.btn-price-outer button {
  background-color: rgb(247, 255, 249);
  padding: 5px 15px;
  border: 1px solid #328839;
  border-radius: 10px;
}
.footer {
  padding: 40px 0;
  background-color: #fff;
}

.footer-mid {
  max-width: 1280px;
  margin: auto;
}

.footer-mid-row1 {
  display: flex;
  gap: 40px;
}

/* LEFT SIDE */
.footer-mid-row1-left {
  flex-basis: 30%;
}

.footer-mid-row1-left h3 {
  margin-bottom: 20px;
}

.useFulLinks {
  display: flex;
  gap: 40px;
}

.useFulLinks ul {
  list-style: none;
}

.useFulLinks ul li a {
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

/* RIGHT SIDE */
.footer-mid-row1-right {
  flex-basis: 70%;
}

.CategoriesHeadingRow {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.CategoriesHeadingRow a {
  color: green;
  font-size: 14px;
  text-decoration: none;
}

.categoryLinks {
  display: flex;
  gap: 60px;
}

.categoryLinks ul {
  list-style: none;
}

.categoryLinks ul li a {
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}
